/* Task lists */
.tasks-list{
    width: 656px !important;
  }

  .pagination li {
    margin-right: 5px; /* Adjust as needed */
  }
  
  .pagination .page-link {
    padding: 0.5rem 1rem; /* Adjust as needed */
  }
  
  /* Add this CSS to your stylesheet */
.pagination .page-item.active .page-link {
    border-color: rgba(188, 0, 109, 1);
    background-color: transparent !important;
    color: rgba(188, 0, 109, 1); 
  }

  .pagination .page-item .page-link {
    border-color: rgba(188, 0, 109, 1);
    background-color: transparent !important;
    color: rgba(188, 0, 109, 1); 
  }
  
  .pagination .page-item .page-link.current-page {
    color: rgba(188, 0, 109, 1) !important; 
  }
  
  .pagination .page-link {
    padding: 0.5rem 1rem; /* Adjust as needed */
  }
  
  .pagination .page-link:hover {
    text-decoration: none;
  }
  
  .pagination .page-link svg {
    fill:rgba(188, 0, 109, 1) !important; 
  }
  
  .pagination .page-link:hover svg {
    fill:rgba(188, 0, 109, 1) !important;
  }
  